@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 800;
}

body{
  background: #1a1a1a;
  font-family: Arial;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 50%;
    height: 100%;
	margin: auto;
}

.svg-container {
	display: inline-block;
	position: fixed;
	width: 100%;
	vertical-align: middle;
	overflow: hidden;
	}

.text-copy {
    fill: none;
    stroke: #ebebeb;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #ebebeb;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: green;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #ebebeb;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #ebebeb;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: red;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
